body{
    background: var(--background);
    width:100vw;
    height:100vh;
    overflow: hidden;
}

@media(min-width:200px){
    #logo{
        background: url("../assets/logo-mobile.svg");
        width:17.1rem;
        height: 3.2rem;
        margin-left:2rem;
    }

    .web{
        display:none
    }

    .mobile{
        display:block
    }

    header{
        margin-top:2rem;
    }

    #opcoes label{
        margin-top: 1.2rem
    }

    input#control-nav {
        position: absolute;
        left: -9999px;
    }

    header .control-nav {
        position: absolute;
        right: 35px;
        top: 20px;
        display: block;
        z-index: 2;
        cursor: pointer;
    }

    header nav {
        position: fixed;
        top: 8rem;
        right: 0;
        bottom: 0;
        width: 100%;
        background: var(--background);
        overflow-x: auto;
        z-index: 2;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }

    #control-nav:checked ~ .control-nav-close {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    #control-nav:checked ~ nav {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    li{
        margin-top:2rem;
        margin-bottom:2rem;
    }

    li a{
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        font-size:1.8rem;
        color:var(--text-color-menu-mobile);
        margin-left:3.2rem;
    }

    #barra{
        width:100%;
        height:1px;
        border: 1px solid #29292E;
        margin-top:2rem
    }

    #text{
        position: absolute;
        top: 18.4rem;
        width: 32.2rem;
        left: 50%;
        transform: translate(-50%);
    }

    #text h2{
        color:var(--text-color);
        font-family: 'Manrope', sans-serif;
        font-weight: 600;
        font-size:3rem;
        text-align:center;
    }

    h1{
        font-size:5rem
    }

    #title {
        text-align: center;
        margin-top: 4rem;
        position: absolute;
        top: 40rem;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    }

    #blur-mobile{
        position:absolute;
        bottom:0;
        background-size:cover;
        width:100%
        
    }

    #blur-mobile img{
        width:100%;
        height:50rem;
        margin-bottom:-2rem
        
    }

    
    #imagem-bg{
        bottom: 0;
        position: fixed;
        left: 50%;
        transform:translate(-50%);
        z-index:1
    }

    #imagem-bg img{
        width: 45rem;
        height: 30rem;
        
    }

    .mobile button{
        padding: 1rem 3rem;
        left: 50%;
        transform:translate(-50%);
        position:absolute;
        top:35rem
    }

    .mobile button img{
        margin-left:0.5rem;
    }
}

@media(max-width:700px){

    #text{
        position: absolute;
        top: 15rem;
        width: 32.2rem;
        left: 50%;
        transform: translate(-50%);
    }

    #text h2{
        color:var(--text-color);
        font-family: 'Manrope', sans-serif;
        font-weight: 600;
        font-size:2rem;
        text-align:center;
    }

    h1{
        font-size:3rem
    }

    #title {
        text-align: center;
        margin-top: 2rem;
        position: absolute;
        top: 30rem;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    }

    #imagem-bg img{
        width: 40rem;
        height: 25rem;
        
    }

    .mobile button{
        padding: 1rem 3rem;
        left: 50%;
        transform:translate(-50%);
        position:absolute;
        top:25rem
    }

    #blur-mobile img{
        width:100%;
        height:35rem;
        margin-bottom:-2rem
    }
}

@media(min-width:700px){

    #text{
        position: absolute;
        top: 15rem;
        width: 40rem;
        left: 50%;
        transform: translate(-50%);
    }

    #text h2{
        color:var(--text-color);
        font-family: 'Manrope', sans-serif;
        font-weight: 600;
        font-size:4rem;
        text-align:center;
    }

    h1{
        font-size:7rem
    }

    #title {
        text-align: center;
        margin-top: 2rem;
        position: absolute;
        top: 55rem;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    }

    #imagem-bg img{
        width: 60rem;
        height: 35rem;
        
    }

    .mobile button{
        padding: 2rem 4rem;
        left: 50%;
        transform:translate(-50%);
        position:absolute;
        top:45rem
    }

    #blur-mobile img{
        width:100%;
        height:35rem;
        margin-bottom:-2rem
    }
}

@media(min-width:1000px){
    header{
        margin:auto;
        display:flex;
        align-items:center;
        justify-content:space-between;
        margin-top:5rem;
        width:91.8rem;
        
    }

    #logo{
        background: url("../assets/logo-desktop.svg");
        width:4.3rem;
        height: 5rem;
    }

    #opcoes a{
        padding:2rem;
        color:var(--text-color);
        font-size:1.4rem;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        
    }

    button{
        padding:1.6rem 3.8rem;
    }

    #imagem-bg img{
        width:65rem;
        height:29.9rem;
        
    }

    #blur{
        z-index:-1;
        display:flex;
        justify-content:space-between
    }

    #blur #up{
        top: 0;
        position: fixed;
        right: 0;
    }

    #blur #down{
        bottom: 0;
        position: fixed;
    }

    #blur #up img, #blur #down img{
        width:32rem;
        height:32rem;
       
    }

    .web{
        display:block
    }

    .mobile{
        display:none
    }

    #title{
        top: 10rem;
        left: 50%;
        transform: translate(-50%);
    }

    h1{
        font-size:8rem;
    }

}
